<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VueJS - Course</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<p v-if="note === 'A'">Congratulations, you get an "A"!</p>
		<p v-else-if="note === 'B'">You get a "B", but can improve!</p>
		<p v-else-if="note === 'C'">You need improve, learn more. Your note: "C"</p>
		<p v-else>Note don't published.</p>
		<input v-model="note" placeholder="Note">
	</div>

	<script type="text/javascript">
		new Vue({
			el: '#app',
			data: {
				note: '',
			}
		});
	</script>
</body>
</html>