<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VueJS - Course</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<button @click="show = !show">Toggle</button>
		<p v-if="show">Directive v-if "{{ show }}": <span>{{ text }}</span></p>
		<p v-show="show">Directive v-show "{{ show }}": <span>{{ text }}</span></p>
		<input v-model="text">
	</div>

	<script type="text/javascript">
		new Vue({
			el: '#app',
			data: {
				show: true,
				text: 'Olá VueJS',
			},
		});
	</script>
</body>
</html>